@import "../../styles/variables.scss";
@import "../../styles/placeholders.scss";
@import "../../styles/mixins.scss";

.PanelInfos {
  &-body {
    &-specs {
      display: flex;
      gap: 0.625rem;
      span {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        border: 2px solid $lightGray;
        border-radius: 15%;
        padding: 0.375rem;
        p {
          margin: 0;
          font-size: 0.9rem;
        }
      }
    }
  }
}