@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';

.MobileMenu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 999;
	overflow: hidden;

	&-close-btn {
		all: unset;
		position: fixed;
		top: 1.5rem;
		right: 1.5rem;
		padding: .25rem .6rem;
		font-size: $fontSizeNormal;
		font-weight: 600;
		color: #fff;
		background: $electricBlue;
		border-radius: 50%;
		box-shadow: 0 0 10px $electricBlue;
	}

	&-links {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@extend %flex-center;
		flex-direction: column;
		gap: 5rem;
	}

	&-links .link {
		font-size: $fontSizeNormal;
		font-weight: 600;
		color: $darkFont;
	}
}