@import "./variables.scss";

html {
  font-size: 100%  !important;
  box-sizing: border-box  !important;
}

*::before, *::after {
  box-sizing: inherit  !important;
}

body {
  margin: 0  !important;
  padding: 0  !important;
  font-family: $fontMontserrat  !important;
  -webkit-font-smoothing: antialiased  !important;
  -moz-osx-font-smoothing: grayscale  !important;
}

a {
	text-decoration: none  !important;
}

.error-msg {
	color: red  !important;
}