// Display Position: center
%grid-center{
  display: grid;
  place-items: center;
}

%flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-around{
  display: flex;
  justify-content: space-around;
}