// Colors
$electricBlue: #35DDF0;
$darkSilver: #C3CBDC;
$lightSilver: #EDF1F4;
$darkFont: #01030D;
$lightFont: #EAEAEA;

// Fonts
$fontMontserrat: 'Montserrat', sans-serif;
$fontOswald: 'Oswald', sans-serif;

// Font sizes
$fontSizeSmall: 1.2rem;
$fontSizeMedium: 1.6rem;
$fontSizeLarge: 2.4rem;