@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/placeholders.scss';

.Step {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	width: 95%;
	
	&-wrapper {
		@extend %flex-center;
		flex-direction: column;
		text-align: center;
		font-size: $fontSizeLarge;
		font-family: $fontOswald;
		font-weight: 600;

		// img {
			
		// }
	}

	> span {
		margin: auto;
		text-align: center;
	}

	@include breakpoint-up(large) {
		width: 20%;
	}
}