@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';
@import '../../styles/mixins.scss';

.Steps {
	padding: 8rem 0.8rem;
	background: $white;
	@include breakpoint-up(large) {
		padding: 12.5rem 8.75rem;
	}
	
	&-title {
		font-family: $fontOswald;
		font-size: $fontSizeLarge;
		font-weight: 500;
		@include breakpoint-up(large) {
			font-size: $fontSizeXLarge;
			font-weight: 500;
		}
	}

	&-container {
		@extend %flex-center;
		flex-wrap: wrap;
		gap: 5rem;
		margin-top: 5rem;
		@include breakpoint-up(large) {
			gap: 3rem;
			margin-top: 6rem;
		}
	}
}