@import '../styles/variables.scss';
@import '../styles/globals.scss';
@import '../styles/placeholders.scss';

.Register {

	&-form {
		@extend %flex-center;
		flex-direction: column;
		gap: 1.5rem;
		margin-top: 5rem;

		&-group {
			display: flex;
			flex-direction: column;
			gap: 0.2rem;
		}
	}
}