@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';
@import '../../styles/mixins.scss';
@import '../../styles/globals.scss';


.footer {
    text-align: center;
    background-color: $darkSilver;
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: center;

    &--container {
        height: 12rem;
        @extend %flex-center;
        align-items: unset;
    }

    &--column {
        padding: 1em;
        width: 200px;
    }
    &--title {
        font-weight: bold;
    }
    &--logos {
        font-size: $fontSizeMedium;
       @extend %flex-around;
    }

}







