@import '../styles/variables.scss';
@import '../styles/globals.scss';
@import '../styles/placeholders.scss';
@import '../styles/mixins.scss';

.Profile {
	margin-bottom: 5rem  !important;

	&-hero {
		position: relative  !important;
		&::before {
			position: absolute  !important;
			content: ''  !important;
			top: -100px  !important;
			@include breakpoint-up(medium) {
				top: -120px  !important;
			}
			@include breakpoint-up(large) {
				top: -160px  !important;
			}
			left: 0  !important;
			right: 0  !important;
			bottom: 0  !important;
			background-image: linear-gradient($darkSilver, $lightSilver, $darkSilver)  !important;
			z-index: -1  !important;
		}
		padding-block-start: 9.375rem  !important;
		padding-block-end: 1.875rem  !important;
	
		&-title {
			margin: 0  !important;
			padding-inline: 2rem  !important;
			@include breakpoint-up(large) {
			padding-inline: 8.75rem  !important;
		}
			font-family: $fontOswald  !important;
			font-size: $fontSizeLarge  !important;
			font-weight: 500  !important;
		}
	}

	&-form {
		@extend %flex-center;
		flex-direction: column  !important;
		gap: 1.5rem  !important;
		margin-top: 3rem  !important;

		&-controls {
			display: flex  !important;
			gap: 1rem  !important;
			margin: 1rem  !important;
		}
	}
}