@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';
@import '../../styles/mixins.scss';

.Map{
    &-display {
        margin-inline: auto;
        max-width: 1200px;
        height: 300px;
        @include breakpoint-up(medium) {
            height: 500px;
        }
        background-color: $lightContrast;
    }
}