@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';

.Nav {
	@extend %flex-center;
	justify-content: space-between;
	padding: 45px 90px;

	&-links .link {
		margin-right: 64px;
		font-size: 18px;
		font-weight: 600;
		text-decoration: none;
		color: $darkFont;
	}
}