@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';

.HeroOffer{
  background-color: $electricBlue;
  height: 180px;
  width: 250px;

  &.active {
    height: 250px;
    width: 500px;
  }
}