@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';
@import '../../styles/mixins.scss';

.HeroOffer{
  // Cellulue de base
  @include breakpoint-up(medium){
    height: 200px  !important;
    width: 270px  !important;
  }
  @include breakpoint-up(large){
    height: 180px  !important;
    width: 200px  !important;
  }
  height: 130px  !important;
  width: 240px  !important;

  padding: 1rem  !important;
  border-radius: 30px  !important;

  transform: skew(-15deg)  !important;
  transition: $transitionInOut  !important;
  
  display: flex  !important;
  flex-direction: column  !important;
  justify-content: space-between  !important;
  
  overflow: hidden  !important;
  background-color: white  !important;
  cursor: pointer  !important;
  user-select: none  !important;
  
  // Reflet
  &:not(.active) {
    position: relative  !important;
    &::after{
      position: absolute  !important;
      content: ''  !important;
      width: 100%  !important;
      top: 0  !important;
      bottom: 0  !important;
      opacity: 0.5  !important;
      background-image: linear-gradient(to right, white, transparent)  !important;
      transform: skew(-52deg)  !important;
      transition: ease 0.4s  !important;
    }
    &::after {
      left: -100%  !important;
    }
  }
  
  &:hover {
    @include breakpoint-up(large){
      width: 240px  !important;
    }
    transition: $transitionInOut  !important;
    @include breakpoint-up(medium){
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25)  !important;
    }
    @include breakpoint-up(large){
      box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25)  !important;
    }
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25)  !important;
    
  // Reflet
    &:not(.active) {
      &::after {
        left: 150%  !important;
      }
    }
  }

  // Cellule active
  &.active {
    @include breakpoint-up(medium){
      height: 270px  !important;
      width: 520px  !important;
    }
    @include breakpoint-up(large){
      height: 300px  !important;
      width: 550px  !important;
    }
    height: 350px  !important;
    width: 240px  !important;
    transform: skew(-15deg)  !important;

    padding: 1.25rem  !important;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.25)  !important;
    @include breakpoint-up(large){
      box-shadow: 0px 30px 150px rgba(0, 0, 0, 0.25)  !important;
    }

    cursor: unset  !important;
    .HeroOffer {
      &-head {
        justify-content: flex-start  !important;

        img:last-child {
          @include breakpoint-up(medium) {
            height: 30px  !important;
          }
          height: 20px  !important;
        }
      }
      &-body {
        transform: skew(-15deg)  !important;
        height: 100%  !important;
        
        &-info {
          transform: skew(15deg)  !important;
          justify-content: unset  !important;
          @include breakpoint-up(medium){
            height: 80%  !important;
          }
          height: 100%  !important;

          & > * {
            transform: skew(15deg)  !important;
          }

          &-model {
            margin-top: 1rem  !important;
            font-size: $fontSizeMedium  !important;
            font-weight: 600  !important;
            // user-select:all  !important;
          }

          &-specs {
            color: #595959  !important;
            font-size: $fontSizeXSmall  !important;
          }
          
          &-price {
            margin-top: auto  !important;
            margin-bottom: 2rem  !important;
            @include breakpoint-up(medium) {
              margin-block: auto  !important;
              // margin-bottom: unset  !important;
            }
            > em {
              color: $darkFont  !important;
              font-style: normal  !important;
              &:first-child{
                // font-family: 'Roboto', sans-serif  !important;
                font-size: $fontSizeLarge  !important;
                font-weight: 600  !important;
              }
              &:last-child {
                font-size: unset  !important;
                font-weight: 600  !important;
              }
            }
          }
        }

      }
      &-img {
        @include breakpoint-up(medium) {
          width: 50%  !important;
        }
        @include breakpoint-up(large) {
          width: 60%  !important;
        }
        width: 70%  !important;
        top: 50%  !important;
        transform: translateY(-50%) skew(15deg)  !important;
        // transition: $transitionInOut  !important;
      }
    }
  }



  position: relative  !important;
  &-img {
    position: absolute  !important;
    right: -5px  !important;
    @include breakpoint-up(medium) {
      top: 50%  !important;
      transform: translateY(-50%) skew(15deg)  !important;
    }
    top: 80%  !important;
    transform: translateY(-80%) skew(15deg)  !important;
    
    @include breakpoint-up(medium){
      width: 70%  !important;
    }
    @include breakpoint-up(large){
      width: 70%  !important;
    }
    width: 50%  !important;

    &-spinner {
      .lds-ring {
        display: inline-block  !important;
        position: relative  !important;
        width: 80px  !important;
        height: 80px  !important;
      }
      .lds-ring div {
        box-sizing: border-box  !important;
        display: block  !important;
        position: absolute  !important;
        top: 0  !important;
        right: 0  !important;
        width: 64px  !important;
        height: 64px  !important;
        margin: 8px  !important;
        border: 4px solid $lightSilver  !important;
        border-radius: 50%  !important;
        animation: lds-ring 2s cubic-bezier(0.5, 0, 0.5, 1) infinite  !important;
        border-color: $lightSilver transparent transparent transparent  !important;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s  !important;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s  !important;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s  !important;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg)  !important;
        }
        100% {
          transform: rotate(360deg)  !important;
        }
      }
    }
  }

  
  &-head {
    transform: skew(15deg)  !important;

    width: 100%  !important;
    @extend %flex-center;
    justify-content: space-between  !important;

    gap: 0.5rem  !important;
    @include breakpoint-up(medium) {
      gap: 1.25rem  !important;
    }

    font-family: $fontConthrax  !important;
    font-size: $fontSizeXSmall  !important;

    > span {
      display: flex  !important;
      gap: 0.3rem  !important;
    }

    img:first-child {
      @include breakpoint-up(medium) {
        height: 40px  !important;
      }
      height: 20px  !important;
    }
    img:last-child {
      @include breakpoint-up(medium) {
        height: 20px  !important;
      }
      height: 20px  !important;
    }
  }

  &-body {
    transform: skew(15deg)  !important;

    &-info {
      @extend %flex-center;
      align-items: flex-start  !important;

      flex-direction: column  !important;
      @include breakpoint-up(medium) {
      }

      &-model {
        font-weight: 600  !important;
      }
      &-price {
        color: #595959  !important;
      }
    }
  }
}